extends layout

block content

    h1 Users
    if userResult.length
        h3 #{keyword} 유저 : #{userResult.length}명
        -for(var i = 0; i < userResult.length ; i++)
            .postIdBox(onclick=`location.href ='/user/${userResult[i].id}'` style="width:200px; cursor:pointer; padding:10px;")
                div
                    img(src=userResult[i].profile)
                span.nickname
                    =userResult[i].nickname
    else
        h3 검색결과없음
    h1 Posts
    if postResult.length
        h3 ##{keyword} 검색결과 : #{postResult.length}건
            -for(var i = 0; i < postResult.length ; i++)
                .postingContainer
                    .postIdBox(onclick=`location.href ='/user/${postResult[i].user.id}'` style="cursor:pointer;")
                        div
                            img(src=postResult[i].user.profile)
                        span.nickname
                            =postResult[i].user.nickname
                    -var date = new Date(postResult[i].updatedAt)
                    -var year = date.getFullYear()
                    -var month = date.getMonth()+1
                    -var day = date.getDate()
                    -var hour = date.getHours()
                    -var minutes = date.getMinutes()
                    -var seconds = date.getSeconds()
                    span.date #{year}/#{month}/#{day} #{hour}:#{minutes}:#{seconds}
                    .imgBox 
                        img(src= postResult[i].img)
                    .contentBox
                        =postResult[i].content
                    .postsButton
                        if user
                            if postResult[i].Likings.length
                                button.unlike(id=`like${postResult[i].id}` onclick=`unlike(${postResult[i].id})`)
                            else
                                button.like(id=`like${postResult[i].id}` onclick=`like(${postResult[i].id})`)
                        else
                            button.like(onclick="alert('로그인 후 이용해주세요.')")
                        span(id=`count${postResult[i].id}`)=liking[i].Likings.length
                        button.commentBtn(id=`commentBtn${postResult[i].id}` onclick=`comment(${postResult[i].id})`)
                        span(id=`ccount${postResult[i].id}`)=postResult[i].comments.length
                    if user
                        .comment(id=`comment${postResult[i].id}` style="display:none;")
                            input.postComment(id=`postComment${postResult[i].id}` type="text" placeholder="comment.." onkeydown=`if(event.keyCode==13){postComment(${postResult[i].id})}` autofocus)
                            input(type="button", value="commit" onclick=`postComment(${postResult[i].id})`)
                            .commentList(id=`list${postResult[i].id}`)
                    else
                        .comment(id=`comment${postResult[i].id}` style="display:none;")
                            input.postComment(id=`postComment${postResult[i].id}` type="text" placeholder="comment.." onkeydown=`if(event.keyCode==13){alert('로그인 후 이용해 주세요')}` autofocus)
                            input(type="button", value="commit" onclick=`alert('로그인 후 이용해 주세요.')`)
                            .commentList(id=`list${postResult[i].id}`)
    else
        h3 검색결과없음
    script(src="/javascripts/like.js")
    script(src="/javascripts/comment.js")