extends layout

block content
    .myPage
        .profileImage
            img#profileImage(src=otherUser.profile)
        br
        if user.id!=otherUser.id
            if isFollowed.length==0
                form(action=otherUser.id+"/follow" method="post")
                    input.follow(type="submit", value="Follow")
            else
                form(action=otherUser.id+"/unfollow" method="post")
                    input.unfollow(type="submit", value="UnFollow")
        else
            label#changeProfile(for="profileUpload") Change Profile
            input#profileUpload(type="file" accept="image/*" style="display:none")
            input#myId(type="hidden" value=user.id)
            script(src="/javascripts/editProfile.js")
        .info
            div(onclick=`location.href='/user/${otherUser.id}/followers'` style="cursor:pointer;")
                .counts
                    span=followers.length
                span Followers
            div(onclick=`location.href='/user/${otherUser.id}/followings'` style="cursor:pointer;")
                .counts
                    span=followings.length
                span Followings
            div
                .counts
                    span=posting.length
                span Posts
    -for(var index=0; index < posting.length; index++)
        .postingContainer
            .postIdBox
                div
                    img(src=posting[index].dataValues.user.profile onclick="location.href=#{posting[index].dataValues.user.id}")
                span.nickname
                    =posting[index].dataValues.user.nickname
            -var date = new Date(posting[index].dataValues.updatedAt)
            -var year = date.getFullYear()
            -var month = date.getMonth()+1
            -var day = date.getDate()
            -var hour = date.getHours()
            -var minutes = date.getMinutes()
            -var seconds = date.getSeconds()
            span.date #{year}/#{month}/#{day} #{hour}:#{minutes}:#{seconds}
            .imgBox 
                img(src= posting[index].dataValues.img)
            .contentBox
                =posting[index].dataValues.content
            .postsButton
                if(user.id == posting[index].dataValues.user.id)
                    .text
                        span(id=`delete${posting[index].dataValues.id}` onclick=`deletePost(${user.id},${posting[index].dataValues.id})`) DELETE
                        script(src="/javascripts/deletePost.js")
                if posting[index].Likings.length
                    button.unlike(id=`like${posting[index].dataValues.id}` onclick=`unlike(${posting[index].dataValues.id})`)
                else
                    button.like(id=`like${posting[index].dataValues.id}` onclick=`like(${posting[index].dataValues.id})`)
                span(id=`count${posting[index].dataValues.id}`)=liking[index].Likings.length
                button.commentBtn(id=`commentBtn${posting[index].dataValues.id}` onclick=`comment(${posting[index].dataValues.id},${user.id})`)
                span(id=`ccount${posting[index].dataValues.id}`)=posting[index].comments.length
            .comment(id=`comment${posting[index].dataValues.id}` style="display:none;")
                    input.postComment(id=`postComment${posting[index].dataValues.id}` type="text" placeholder="comment.." onkeydown=`if(event.keyCode==13){postComment(${posting[index].dataValues.id})}` autofocus)
                    input(type="button", value="commit" onclick=`postComment(${posting[index].dataValues.id})`)
                    .commentList(id=`list${posting[index].dataValues.id}`)
    script(src="/javascripts/like.js")
    script(src="/javascripts/comment.js")
